body{
font-family:Poppins;
margin:0;
background:#fff7fb;
padding-top:80px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:white;
position:fixed;
width:100%;
top:0;
}

.logo-img{
height:70px;
}

.brand{
font-family:'Great Vibes';
font-size:28px;
color:#ff8acb;
position:absolute;
left:50%;
transform:translateX(-50%);
}

.menu-icon{
font-size:25px;
cursor:pointer;
}

#menu{
display:none;
flex-direction:column;
background:white;
position:absolute;
top:80px;
width:100%;
}

.hero{
height:100vh;
background:url('lolipop/EXPERIENCIA%20DE%20LUJO%20SPA%20LOLIPOP/lujo1.jpg') center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.section{
padding:80px 20px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card img{
width:100%;
border-radius:10px;
}

.btn{
background:#ff8acb;
color:white;
padding:10px 20px;
border-radius:20px;
text-decoration:none;
}
