body{
font-family:Poppins;
margin:0;
background:#fff7fb;
padding-top:80px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:white;
position:fixed;
width:100%;
top:0;
z-index:10;
}

.logo-img{
height:70px;
}

.brand{
font-family:'Great Vibes';
font-size:28px;
color:#ff8acb;
position:absolute;
left:50%;
transform:translateX(-50%);
}

.menu-icon{
font-size:25px;
cursor:pointer;
}

#menu{
display:none;
flex-direction:column;
background:white;
position:absolute;
top:80px;
width:100%;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.6)),
url('lolipop/EXPERIENCIA%20DE%20LUJO%20SPA%20LOLIPOP/lujo1.jpg') center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.section{
padding:80px 20px;
text-align:center;
}

.subtitle{
margin:20px 0;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
border-radius:20px;
padding:15px;
box-shadow:0 10px 30px rgba(255,138,203,0.2);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:15px;
margin-bottom:10px;
}

.card h3{
color:#ff8acb;
}

.btn{
background:#ff8acb;
color:white;
padding:10px 20px;
border-radius:20px;
text-decoration:none;
display:inline-block;
margin-top:10px;
}

.contacto{
background:#fff0f7;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
}

@media(max-width:768px){
.grid{
grid-template-columns:1fr;
}
}
